.btn {
  display: inline-flex;
  padding: 17px 27px;

  color: $midnight-express;

  background-color: $pale-cornflower-blue;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-family: $ff-roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

  transition: opacity $trans-default, background-color $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    background-color: $picton-blue;
  }
}

.btn.is-active {
  background-color: $picton-blue;
  color: rgba(22, 28, 53, 0.3);
}
